.resume-box {
  background-color: #a0c9d0;
  width: 60%;
  margin: auto;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

#resume-html {
  background-image: url("../assets/lightbulbresumephoto.jpg");
  background-size: cover;
}
