
/* RESUME */

.resume-box {
  background-color: #a0c9d0;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  padding: 15px;
  text-align: center;
}

#resume-html {
  background-image: url("../assets/lightbulbresumephoto.jpg");
  background-size: cover;
}

/* GUESSING GAME */

#guessing-game-html {
  background-image: url("../assets/question_mark.jpg");
    background-repeat: inherit;
    background-size: cover;
    background-repeat: no-repeat;
}

/* INDEX */

.main-picture {
  position: relative;
  width: 30em;
}

.nav {
  position: fixed;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: auto;
    margin-left: -15em;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.homepagebgimg {
    /* Background image */
    background-image: url('../assets/homepage.png');
    /* Full-screen */
    height: 100;
    /* Center the background image */
    background-position: inherit;
    /* Scale and zoom in the image */
    background-size: cover;
    /* No repeating background */
    background-repeat: no-repeat;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;

/* GALLERY OF TRIPS */

h1 {
  margin: 40px 0;
  font-family: 'Indie Flower', cursive;
  /*font-size: 30px;
  font-weight: 300;*/
  text-align: center;
}
/*-----TRIPS----*/

.gallery-trips {
  margin: 0 auto;
  padding: 5px;
}

.gallery-trips > div > img {
  display: block;
  padding-left: 2em;
  width: 200px;
}

.gallery-trips > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}
