
/* GUESSING GAME */

#guessing-game-html {
  background-image: url("../assets/question_mark.jpg");
    background-repeat: inherit;
    background-size: cover;
    background-repeat: no-repeat;
}

/* GALLERY OF TRIPS */

h1 {
  margin: 40px 0;
  font-family: 'Indie Flower', cursive;
  /*font-size: 30px;
  font-weight: 300;*/
  text-align: center;
}
/*-----TRIPS----*/

.gallery-trips {
  margin: 0 auto;
  padding: 5px;
}

.gallery-trips > div > img {
  display: block;
  padding-left: 2em;
  width: 200px;
}

.gallery-trips > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}
