/* RESUME */

.resume-box {
  background-color: #a0c9d0;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  padding: 15px;
  text-align: center;
}

#resume-html {
  background-image: url("assets/seattle_skyline.jpg");
  background-repeat:round;
   background-size: contain;
}

/* INDEX */


.main-picture {
  position: fixed;
      /* left: 100%; */
      width: 30em;
      /* height: auto; */
      /* margin-top: 49.5em; */
      margin-left: 17.80em;
  }

.nav {
  position:fixed;
      top: 75%;
      left: 50%;
      width:30em;
      height:18em;
      margin-top: -2em;
      margin-left: -15em;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
